/* Basic settings */

html {
  width: 100%;
  height: 100%;
  }
body {
  width: 100%;
  height: 100%;
  line-height: 1.42;
  font-size: 16px;
  font-family: Arial, Helvetica, Sans-serif;
  /* to smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* End of settings*/



.container {
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1920px;      
  }

 

/*hero styling*/

.hero {
  background-color: #414141;  
  width: 100%;  
  border-bottom: 0.6vw solid transparent;
  border-image: url('../images/Border-BG.jpg') 30 repeat;  
}

.hero__box {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.hero__upper {
  display: flex;
  justify-content: flex-start;
  height: 80%;
}

.hero-image {
  height: 80%;
  width: 55%;  
}

.hero-img {
  width: 70%;
  height: 80%;  
}
.hero-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 80%;
  align-self: center;
 }
.hero-caption {
  color: #fff;  
  font-size: 1.3vw;  
  font-weight: bold;
  font-style: italic;
  width: 70%;
  padding-bottom: 2%;
}

 .hero-span {
  color: #b5b5b5;
  font-weight: normal;
  font-style: normal;
  }

.hero-para {
  font-size: 1vw;
  color: #b5b5b5;
  padding-bottom: 5%;
}


.hero-btn {
  width: 25%;
  padding: 2% 2%;
  border: none;
  background-color: #4788C8;
}


.hero-btn a {
  font-size: 0.9vw;
  color: #fff;
}

.hero__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4788C8;
  padding: 0.9% 0.9%;
  position: relative; 
}

.hero__banner::after { 
   content: ""; 
   position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-top: 2.6vw solid #4788C8;
    border-right: 4.75vh solid transparent;
    left: 0;
    z-index: 1;
    
}

.banner-caption {
  color: #fff;
  font-size: 1.2vw;
  padding-left: 2%;
  width: 60%; 
  top: 160px;
}

.banner-span {
  font-weight: bold;
  font-style: italic;

}

.banner-btn {  
  background-color: #e4e4ee;
  margin-right: 2%;
  width: 12%;
  padding: 0.8% 0.9%;
  border: none;
}

.banner-btn a {
  color: #414141;
  font-size: 0.9vw;
}

/*four panels section*/

.four__panels {
  width: 100%;
  background-color: #efefef;
}
.panel-holder {
  display: flex;
  justify-content: space-around;
  padding: 5% 3%;
  text-align: center;
  width: 100%;
  border-bottom: 0.6vw solid transparent;
  border-image: url('../images/Border-BG.jpg') 30 repeat; 
}


.panel-container{
  position: relative;   
 } 

.panel-container::after{
  content: "Recent work";
  margin: 0 36%;
  position: absolute;
  color: #3f3f3f;
  background-color: #efefef;
  top: 95%;
  padding: 0.1% 2%;
  font-size: 1.29vw;
  
}
.panel-content {
  padding: 1%;
  width: 22.5%;
}


.panel-content:hover  {  
  background-color: #fff;
  width: 23%;
  height: 70%;
  position: relative;
  box-shadow: 5px 1px 5px -1px rgba(0,0,0,.19);   
}

.panel-content:hover > .panel-icon {
  background-color: #4788C8;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 0 auto;
}

.panel-content:hover > .panel-icon > i {
  font-size: 30px;
  color: #fff;
}

.panel-content:hover > .panel-btn {
  display: none;
}

.panel-content:hover::after {
  content: ""; 
   position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-top: 27px solid #fff;
    border-right: 40px solid transparent;
    left: 0%;
    z-index: 1;
}


.panel-icon {
  background-color: #4f4d4e;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 0 auto;  
}



.fas {
  margin-top: 29%;
}

i {
  margin: 15%;
  border-radius: 50%;
  color: #fff;
}



.panel-caption {
  padding: 1vh;
  font-size: 1vw;
  font-weight: bold;
  color: #4f4d4e;
}

.panel-span {
  font-weight: normal;
}

.panel-para {
  font-size: 0.9vw;
  line-height: 2vh;
  padding: 2vh;
}

.panel-btn {
  border-radius: 12%;
  padding: 4%;
  background-color: #4788C8;  
}

button.panel-btn a {
  font-size: 0.8vw;
  color: #fff;
}

.recent__works {
  padding: 3% 0;
  background-color: #efefef;
}

.recent__works-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.recent__works-items {
  width: 32.5%;
  background-color: #fff;
  position: relative;
  padding-bottom: 3%;
  box-shadow: 5px 1px 5px -1px rgba(0,0,0,.19);
}

.recent__works-items::after {
  content: ""; 
   position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-top: 27px solid #fff;
    border-right: 40px solid transparent;
    left: 0%;
    z-index: 1;
}

.recent__works-image-holder {
  height: 70%;
}

.recent__works-img {
  width: 100%; 
  height: 100%;
}

.recent__works-content {
  padding:2%;
}

.recent__works-caption {
  margin-left: 5%;
  font-size: 1.2vw;
  font-weight: bold;
}

.recent__work-para {
  width: 100%;
  font-size: 0.9vw;
  padding: 3% 0;
}

/*..accolades section...*/
.accolades {
  width: 100%;
  background-color: #efefef;
}

.accolades__holder {
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.testimonial-panel {
  border-top: 0.6vw solid transparent;
  border-image: url('../images/Border-BG.jpg') 30 repeat;
  width: 65%; 
  display: flex;
  flex-direction: column;
  position: relative;
}
.testimonial-panel::before {
  content: "Testimonials";  
  position: absolute;
  color: #3f3f3f;
  background-color: #efefef;  
  padding: 0.1% 2%;
  font-size: 1.29vw;
  top: -5%;
  margin: 0 41%;
}

.testimonial-upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.testimonial-bottom  {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.testimonials {
  width: 47%;
  padding: 3%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 3% 0;
  position: relative;
  box-shadow: 5px 1px 5px -1px rgba(0,0,0,.19);
}

.testimonials::after {
  content: ""; 
   position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-top: 27px solid #fff;
    border-right: 40px solid transparent;
    left: 0%;
    z-index: 1;
}

.testimonial-caption {
  font-size: 1.2vw;
  font-weight: bold;
}

.testimonial-para {
  width: 100%;
  font-size: 0.9vw;
}

.development {
  border-top: 0.6vw solid transparent;
  border-image: url('../images/Border-BG.jpg') 30 repeat;
  width: 33%;
  padding-top: 0.3%;
  position: relative;  
}


.development::after {  
    content: "Development";  
    position: absolute;
    color: #3f3f3f;
    background-color: #efefef;  
    padding: 0.1% 2%;
    font-size: 1.29vw;
    top: -5%;
    margin: 0 34%;    
}
/*tab section*/

.dev-content {
  padding: 5.5% 2% 4%;
  margin-top: 1.5%;
  height: 100%;
}

.tabs {
  position: relative;   
  min-height: 90%; 
  clear: both;
  margin: 1% 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 1vw; 
  border: 5% solid rgb(241, 239, 239); 
  position: relative;
  font-size: 0.9vw;
  font-weight: bold;
}
.tab [type=radio] {
  display: none;   
}
.dev-tab_content {
  position: absolute;
  top: 2.9vh;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 1% 3% 0 0;
  box-shadow: 5px 1px 5px -1px rgba(0,0,0,.19);
  height: 99%;
  margin-left: 0.3%;
}
[type=radio]:checked ~ label {
  background: white;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .dev-tab_content {
  z-index: 1;
}

.tab-caption {
  font-size: 1vw;
  font-weight: bold;
  padding: 2% 0 0;
  margin-left: 1%;
}

.tab-para {
  font-size: 0.89vw;
  text-align: left;
  margin: 3%;
}

.tabcontent-btn {
  border-radius: 12%;
  padding: 2.5%;
  background-color: #4788C8;
  float: right;
  margin-top: 5%;
}

.tabcontent-btn a {
  color: #fff;
  font-size: 0.7vw;
}





/*End of Accolades section*/

/*Lower banner Section*/

.lower__banner {
  width: 100%;
  background-color: #efefef;
}

.bottom__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4788C8;
  padding: 0.9% 0.9%; 
  position: relative; 
}

.bottom__banner::after { 
   content: ""; 
   position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-top: 2.6vw solid #4788C8;
    border-right: 4.75vh solid transparent;
    left: 0;
    z-index: 1;    
}

/*Upper footer section*/

.footer__upper {
  width: 100%;
  background-color: #414141;
}

.upper-footer {
  padding: 5% 0 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.upper-footer-content {
  width: 23%;
}

.upper-footer-caption {
  color: #fff;
  font-size: 0.9vw;
  font-weight: bold;
  margin-bottom: 3%;
}

.upper-footer-para {
  color: #8d8d8d;
  font-size: 0.9vw;
  margin: 4% 0;
}

.upper-footer-span {
  color: #fff;
  font-weight: bold;
}
.upper-footer-span-little {
  font-size: 0.7vw;
  display: block;
}

.upper-footer-address {
  width: 50%; 
}

.upper-footer-para-3:not(:last-child) {
  border-bottom: 1px solid #222222;
  padding-bottom: 2%;
}

.upper-footer-para-3:hover {
  color: #4788C8;  
}

.upper-footer-flickr {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start; 
}

.phantom {
  display: none;
}
.upper-footer-flickr-li {
  background-color: #222222;
  width: 22%;
  height: 25%;
  border: 1px solid transparent;
  margin: 1% 1%;
}
  
.main__footer {
  background-color: #343434;
  width: 100%;
  padding: 2% 4% 4% 0;
  margin-bottom: 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.footer-icon {
  display: flex;
  position: relative;
}

.footer-icon-list {
  display: inline-block;
  margin: 3%;
  padding: 2%; 
    
}

i-2 {
  font-size: 2vw;
  color: #000;
}

i-2:hover {
  color: #8d8d8d;
}

.fa-twitter:hover::after {
  content: "Twitter"; 
  font-size: 0.9vw;
  color: #fff;
  text-align: center;
   position: absolute;
    width: 50%;
    height: 80%;
    top: -70%;
    padding: 5%;
    background-color: #414141;
    left: 20%;
    z-index: 1;
} 

.footer-text {
  font-size: 0.9vw;
  color: #8d8d8d;
  text-transform: uppercase;
}

















